Naked==0.1.31
PyYAML==5.4.1
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
crypto==1.4.1
cryptography==3.3.1
idna==2.10
lxml==4.6.2
pip==21.0
pkg-resources==0.0.0	
pycparser==2.20
pycryptodome==3.9.9
pyperclip==1.8.1
requests==2.25.1
setuptools==52.0.0
shellescape==3.8.1
six==1.15.0
soupsieve==2.1
urllib3==1.26.2
